@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "poppins";
	src: url("../public/Poppins/Poppins-Thin.ttf");
}
@font-face {
	font-family: "poppinsbold";
	src: url("../public/Poppins/Poppins-Medium.ttf");
}

@font-face {
	font-family: "poppinsreg";
	src: url("../public/Poppins/Poppins-BlackItalic.ttf");
}
